/* Required for honors students */
/********************************** 
* Design by:  R. Mamet
* Design name:  Celeste
* 
* License: GNU AGPL3
* 
* Acknowledgments/Sources:
* - 
* - 
* -
*/

@font-face {
  font-family: Renogare;
  src: url(/Renogare-Regular.otf);
}

body {
  font-family: Renogare, sans-serif;
  background-image: url(https://images.steamusercontent.com/ugc/17810864162366360252/F303BDAB7D63FBAAB03D3A2568A246B2D7DE3140/);
  color: white;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
}

@media (min-aspect-ratio: 10/8) {
  .page-wrapper {
    max-width: 80vw;
  }
}

h3 {
  animation: wave 1.5s ease-in-out infinite;
  width: fit-content;
  transform-origin: center center;
}

@keyframes wave {
  0%,
  100% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
}

a {
  color: #b3ebf2;
}

a:visited {
  color: #b39eb5;
}
