/* Required for honors students */
/********************************** 
* Design by:  R. Mamet
* Design name:  Aviation
* 
* License: GNU AGPL3
* 
* Acknowledgments/Sources:
* - Jetphotos (for N13081): https://www.jetphotos.com/photo/10314330
* - 
* -
*/

@import url("https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Charis+SIL:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  background: linear-gradient(rgba(34, 68, 68, 0.8)), url(./plane.JPG);
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
  color: antiquewhite;
  font-family: "Charis SIL", serif;
  font-weight: 400;
  font-style: normal;
}

div {
  max-width: 1000px;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "BBH Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  background-image: url(https://cdn.jetphotos.com/full/6/22095_1633219910.jpg);
  background-size: auto;
  background-position: center center;
  background-clip: text;
  color: rgb(255 255 255 / 20%);
  -webkit-text-stroke: 2px black;
  text-stroke: 2px black;

  font-size: 5em;
  max-width: 1000px;
}

ul {
  list-style-type: "🛩️";
  text-align: left;
}

a {
  color: #bdb;
}

@media (min-width: 850px) {
  .wrapper {
    display: grid;
    grid-auto-flow: column;
    align-content: start;
    align-items: start;
    place-items: start;
  }
}

.wrapper {
  border: 5px dashed black;
  border-radius: 2em;
  width: fit-content;
  margin: 1em;

  background: linear-gradient(#446666cc), url(./bigPlane.jpg);
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper > * {
  margin: 1em;
  width: fit-content;
}
