/********************************** 
* Design by:  R. Mamet
* Design name:  Cotton Candy Skies
* 
* License: GNU AGPL3
* 
* Acknowledgments/Sources:
* - 
* - 
* -
*/

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+NO:wght@100..400&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playwrite NO", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

p,
li,
a {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0 2em;
  /* text-align: center; */
  background-image: linear-gradient(315deg, blue, pink, white, pink, blue);
}

div {
  border: 1px solid;
  border-radius: 2em;
  width: auto;
  padding: 2em;
  margin: 2em auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.page-wrapper {
  color: white;
}

aside,
.wrapper {
  width: auto;
}

.wrapper {
  grid-template-columns: 1fr 1fr 1fr;
}

.wrapper > div {
  width: auto;
  margin: 1em 0;
}

@media screen and (min-width: 1000px) {
  .intro,
  .main,
  .wrapper {
    display: grid;
    grid-auto-flow: column;
    gap: 1em;
  }
}

/* extra styling for scroll-bar. not really important */
* {
  scrollbar-color: #b00b69 #00000000;
  scrollbar-width: 5em;
}

a {
  color: rgb(220, 190, 250);
}
